<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <title>Gvn Ems</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/img/favicon.png" />
    <script>
        //check cookie w_auth
        let w_auth = document.cookie.indexOf('w_auth');
        if (w_auth != -1) {
            location.href = "/dashboard";
        } else {

        }
    </script>
    <link rel="stylesheet" href="/css/main.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: #CDD3E1;
        }

        #inputanimate {
            position: relative;
            animation: inputanimation 0.5s forwards;
        }

        @keyframes inputanimation {
            0% {
                left: -100%;
            }

            100% {
                left: 0;
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0;
            /* <-- Apparently some margin are still there even though it's hidden */
        }

        input {
            outline: none;
            color: #c2c6dc;
        }

        input::placeholder {
            color: #c2c6dc;
        }

        button {
            cursor: pointer;
            outline: none;
        }
    </style>

    <style>
        #loginwrapper {
            width: 60%;
        }

        .leftcol {
            width: 45%;
        }

        .rightcol {
            width: 55%;
            padding: 40px;
        }

        @media only screen and (max-width: 1200px) {
            #loginwrapper {
                width: 95%;
            }
        }

        @media only screen and (max-width: 800px) {
            body {
                background: #262C48;
            }

            #loginwrapper {
                width: 100%;
            }

            .leftcol {
                display: none;
            }

            .rightcol {
                width: 100%;
                padding: 25px;
            }
        }
    </style>
</head>

<body>
    <section id="loginwrapper" style="position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);">
        <div style="display: flex;">
            <div class="leftcol"
                style="position:relative;z-index:10;background:#fff;text-align:center;padding:160px 0;box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);">
                <img id="login-img"
                    src="https://img.freepik.com/free-vector/account-log-page_41910-263.jpg?size=626&ext=jpg"
                    style="width:90%;">
            </div>
            <div class="rightcol" style="background:#10163A;">
                <div style="color: #ebeefd;font-size:21px;font-weight:bold;">Sign In</div>
                <div style="color: #c2c6dc;margin-top:10px;font-size:13.2px;">Welcome back, please login to your
                    account.
                </div>
                <form id="inputanimate">
                    <div id="mobile-wrap-text" style="margin-top:43px;color:red;font-size:11px;"></div>
                    <div id="mobile-wrap" class="input-err"
                        style="background: #262C49;display:flex;align-items:center;margin-top:7px;padding:10px;border-radius:5px;">
                        <svg width="20px" height="20px" style="stroke: #c2c6dc;">
                            <use href="/img/sprite.svg#icon-user"></use>
                        </svg>
                        <input type="number" placeholder="Mobile" id="mobile" required
                            oninput="javascript: if (this.value.length > 10) this.value = this.value.slice(0, 10);"
                            style="background: #262C49;width:100%;border:none;margin-left:20px;">
                    </div>
                    <div id="password-wrap-text" style="margin-top:43px;color:red;font-size:11px;"></div>
                    <div id="password-wrap" class="input-err"
                        style="background: #262C49;display:flex;align-items:center;margin-top:7px;padding:10px;border-radius:5px;">
                        <svg width="20px" height="20px" style="fill: #c2c6dc;">
                            <use href="/img/sprite.svg#icon-lock"></use>
                        </svg>
                        <input type="password" placeholder="Password" id="password" required
                            style="background: #262C49;width:100%;border:none;margin-left:20px;">
                    </div>
                    <div style="display: flex;align-items:center;;margin-top:20px;">
                        <input type="checkbox" id="remember" style="zoom: 1.2;"> <label for="remember"
                            style="color: #c2c6dc;font-size:14px;margin-left:10px;">Remember Me</label>
                    </div>
                    <div style="display:flex;justify-content:space-between;margin-top:40px;">
                        <a href="/"
                            style="text-align:center;text-decoration:none;border: 1px solid #FF9F43;background: none;color:#FF9F43;width:85px;padding:10px 0;border-radius:5px;font-size:13.5px;">Front
                            Site</a>
                        <button id="login-btn"
                            style="border: 1px solid #7367F0;background: #7367F0;color:#fff;width:120px;padding:10px 0;border-radius:5px;font-size:13.5px;">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="/script/script.js"></script>

    <script>
        const loginHandler = (e) => {
            e.preventDefault();

            let allInputErr = document.getElementsByClassName("input-err");
            for (var i = 0; i < allInputErr.length; i++) {
                document.getElementById(allInputErr.item(i).getAttribute('id')).style.border = "none";
            }
            document.getElementById("mobile-wrap-text").innerHTML = "";
            document.getElementById("password-wrap-text").innerHTML = "";

            if (document.getElementById("mobile").value.length < 10) {
                document.getElementById("mobile-wrap").style.border = "1px solid red";
            } else {
                document.getElementById("login-btn").disabled = true;
                document.getElementById("login-btn").innerHTML = `
                    <div class="spinner" style="height:7px;">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                `

                axios.post("/auth-login", {
                    mobile: document.getElementById("mobile").value,
                    password: document.getElementById("password").value
                })
                    .then(function (resp) {
                        document.getElementById("login-btn").disabled = false;
                        document.getElementById("login-btn").innerHTML = "Login";

                        if (resp.data.success == false && resp.data.message == "mobile") {
                            document.getElementById("mobile-wrap").style.border = "1px solid red";
                            document.getElementById("mobile-wrap-text").innerHTML = "MOBILE NUMBER NOT REGISTERED";
                        } else if (resp.data.success == false && resp.data.message == "password") {
                            document.getElementById("password-wrap").style.border = "1px solid red";
                            document.getElementById("password-wrap-text").innerHTML = "INVALID PASSWORD";
                        } else if (resp.data.success == true) {
                            localStorage.setItem("role", resp.data.user.role);
                            localStorage.setItem("status", resp.data.user.status);
                            localStorage.setItem("firstname", resp.data.user.firstname);
                            localStorage.setItem("userId", resp.data.user._id);

                            location.href = "/dashboard";
                        }
                    })
            }
        }
        document.getElementById("inputanimate").addEventListener("submit", loginHandler);
    </script>
</body>

</html>