.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    margin-top: 190px;
    left: 0;
}

.wave {
    position: absolute;
    top: -340px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -340px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
}

// page load animation =======
#main-content {
    animation: pageTransitionIn 0.75s forwards;
}
#home-main,
#home-header {
    animation: pageTransitionIn 0.75s forwards;
}
@keyframes pageTransitionIn {
    from {
        opacity: 0;
        transform: rotateY(-55deg);
    }

    30%{
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@media only screen and (min-width: 1200px) {
    #mainsidebar {
        animation: sidebarTransitionIn 0.42s forwards;
    }
    @keyframes sidebarTransitionIn {
        from {
            left: -100%;
        }

        to {
            left: 0;
        }
    }
}
